# Gradle
.gradle/
build/
dist/
syncclipboard-zygisk/
**/build/
log/
# Android
local.properties
*.apk
*.aab
*.aar
*.ap_
*.dex

# IDE
.idea/
*.iml
*.iws
*.ipr
.DS_Store
Thumbs.db

# Keystore
*.keystore
*.jks

# 编译缓存
.cxx/
.externalNativeBuild/
captures/

# 调试产物
logcat_out.txt
modules_config.db
modules_config.db-wal
modules_config.db-shm
syncclipboard_config.xml

